#abc-text {
	display: block;
	min-width: 400px;
	min-height: 100px;
	width: max-content;
	height: max-content; 
}

rect.chord-span {
	fill: #0000;
	stroke: #07f7;
	stroke-width: 3;
}
rect.chord-span[data-selected="true"] {
	fill: #07f7;
}