body {
	max-width: 21cm;
	margin: auto;
}

#abc-text {
	display: block;
	min-width: 700px;
	min-height: 600px;
	width: max-content;
	height: max-content;
}

rect.chord-span {
	fill: #0000;
	stroke: #07f7;
	stroke-width: 3;
}
rect.chord-span[data-selected="true"] {
	fill: #07f7;
}

/* Setting Styles */
#measure-divide[data-beat-num="2"] [value="3"],
#measure-divide[data-beat-num="2"] [value="6"],
#measure-divide[data-beat-num="4"] [value="3"],
#measure-divide[data-beat-num="4"] [value="6"],
#measure-divide[data-beat-num="3"] [value="2"],
#measure-divide[data-beat-num="3"] [value="4"],
#measure-divide[data-beat-num="3"] [value="8"],
#measure-divide[data-beat-num="6"] [value="4"],
#measure-divide[data-beat-num="6"] [value="8"]
{
	display: none;
}

/* Chord Input Styles */
.chord-composer-container {
    position: sticky;
    bottom: 0.5em;
    background: #fff;
    box-shadow: 0 0.5em #fff, 0 0 0.5em -1px #ccc;
    border-radius: 0.5em 0.5em 0 0;
}
#chord-composer {
	max-width: fit-content;
	margin: auto;
}
#chord-composer > * {margin: 0.5em 0;}

#chord-mod {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.chord-keyboard {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
}

.white.key {grid-row: span 2;}
.root-minor > *::after {content:  "m";}
.chord-bass > *::before {content: "/";}
